Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
package-lock.json
yarn.lock
netlify
# Local Netlify folder
.netlify
smartfinance360-api-5cfa9a8e3677.json
smartfinance360-api-5cfa9a8e3677.json
smartfinance360-api-5cfa9a8e3677.json
